.typing_function {
  display: flex;
  gap: 2px;
}
.typing_function p:last-child {
  animation: cursor 0.6s ease infinite;
}
.typing_function p {
  font-family: "Lato";
  font-style: normal;
  font-weight: 800;
  font-size: 2.4rem;
  line-height: 2.9rem;
}

@keyframes cursor {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}
.description {
  width: 273px;
  white-space: nowrap;
  overflow: hidden;

  animation: typingText 7s steps(38) 1s normal infinite;
}
@keyframes typingText {
  from {
    width: 273px;
  }
  25% {
    width: 0px;
  }
  50% {
    width: 0px;
  }
  75% {
    width: 273px;
  }
  to {
    width: 273px;
  }
}
