.container_header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 6rem;

  background: #121216;

  z-index: 9999;
}
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2.9rem;
  margin-right: 26rem;
  width: 100%;
}
.ul a {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.8rem;

  color: #808080;
  cursor: pointer;

  transition: 0.2s;
}