.left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #d31a89;

  width: 50%;
  height: 100%;

  left: 0;
}
.left h1 {
  font-family: "Lato", "inte";
  font-style: normal;
  font-weight: 800;
  font-size: 6.4rem;
  white-space: nowrap;

  background: linear-gradient(90.74deg, #964862 17.71%, #f1eab4 105.63%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.right{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
}